/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  /* Margin bottom by footer height */
  padding: 0;
  margin: 0;
  background: #b5c8e1;
  background-image: url("../images/clouds.png");
  background-image: url("../images/clouds.png"), -webkit-linear-gradient(#9cb9e0, #e1e7e9); /* For Safari 5.1 to 6.0 */
  background-image: url("../images/clouds.png"), -o-linear-gradient(#9cb9e0, #e1e7e9); /* For Opera 11.1 to 12.0 */
  background-image: url("../images/clouds.png"), -moz-linear-gradient(#9cb9e0, #e1e7e9); /* For Firefox 3.6 to 15 */
  background-image: url("../images/clouds.png"), linear-gradient(#9cb9e0, #e1e7e9); /* Standard syntax */
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here
  height: 100%;
  background-image: url("../images/footer.png");
  background-size: cover;
  max-height: 522px;
  */
  overflow: hidden;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 100%;
  padding: 0 0;
}
.container .text-muted {
  margin: 0 0;
}

.login-pad {
  padding-top: 5em;
}
.login-box {
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  border: 5px solid rgba(0,0,0,0.4);
  padding: 2em;
}

.copyright {
  padding-top: 1em;
}
